[2018-12-31 07:40] yoiang opened #1 "More realistic LED"

[2018-12-31 07:40] yoiang opened #2 "Custom status colors"

[2018-12-31 07:42] yoiang opened #3 "Custom statuses?"
We allow customizing beyond `true` and `!true` and allow any number of customized value -> color combinations

[2018-12-31 07:42] yoiang opened #4 "Cartoonish LED"
Should be allowed to toggle between realistic and cartoonish LED visuals

[2018-12-31 07:43] yoiang opened #5 "Rectangular shape"
Should allow to specify rectangular shape, potentially ratio of width to height

[2019-01-01 17:48] yoiang opened #6 "Option to show value as node status"
To all for in Editor debugging

https://nodered.org/docs/creating-nodes/status

[2019-01-01 19:45] yoiang opened #7 "Confusing name?"
Will the name LED/led confuse folks and situations where flows signal actual leds?

[2019-01-03 13:45] shanness opened #8 "Doesn't support apt installed versions of node-red"
I suspect this is because most of my NR modules are in /usr/lib?  (Because I used apt to install it).
Here is the error I get.
[code]

[2019-01-04 19:18] yoiang commented on #8
Hmm, I'll have a look through and see if I am doing anything unusual. **node-red-dashboard** is a requirement of the module and it shouldn't have any hard declaration to look for the module in a specific relative folder.

[2019-01-13 16:48] yoiang opened #11 "Internationalization pass"

[2019-01-13 16:49] yoiang commented on #8
Hey @shanness, I haven't had a chance to reproduce the situation, any change or luck figuring this out?

[2019-01-14 21:56] cmmh opened #12 "Doesn't show up in the UI at all"
No luck getting it to actually show up in the UI.  Even pasting the example and, as a result, having it create new subflows, still doesn't have it showing up in the UI.   Currently on 0.17.5 for node-red

[2019-01-14 22:34] cmmh commented on #12
I upgraded node-red to 0.19.5 and it is working now.

[2019-01-14 22:34] #12 closed

[2019-01-14 22:39] yoiang commented on #12
Great to hear! Did you save off the error somewhere? Can look into potentially making the library more version robust.

[2019-01-22 15:45] shanness commented on #8
Hey @yoiang, I don't really know nodejs or node-reds internals, but do have this in

[code]
And this in `~/.node-red/.config`
[code]

The problem seems to be the resolver adding all the `../..` stuff at the start?
[code]
As `/home/craig/.node-red/node_modules/node-red-dashboard/` exists.

If I go into the dir for the file reporting the error above (`/usr/lib/node_modules/node-red/red/runtime/nodes

[2019-01-22 16:05] yoiang commented on #8
Is there an entry in the `.node-red/.config` file for `node-red-contrib-ui-led`? What does that look like?

[2019-01-22 16:23] cmmh opened #13 "Retention of state during re-deployment and page switches"
My use case has messages updating the LED status very infrequently -- like once an hour or so.  When I update my flows and re-deploy, I lose the state information on the LEDs -- but other UI elements like graphs don't forget their states.

Also, when I switch to a different page and then back to the one with the LED UI elements, they have lost their state.

Perhaps this is a case where the global

[2019-01-22 16:39] yoiang commented on #13
The LEDs losing state between pages sounds like something that should be fixed, can you elaborate what your steps are? I haven't seen them lose state during a deploy, can you clarify those steps as well? Can you point me towards a UI element that functions as you would expect?

Potential bugs aside it seems like something folks would want state retained between runs, the option to store state in g

[2019-01-22 16:43] yoiang opened #14 "Option to store state in other node contexts"
Users potentially want to be able to store the LED's state in other contexts, such as global, and have that state retrained further than a single session.

There is the argument to keep a UI element dumb and only represent outside state, however in practice it isn't always worth the work to build a set of flows that robustly manage state in this way and a simple solution would get folks there soon

[2019-01-22 16:43] yoiang commented on #13
Store state: #14

[2019-01-23 01:52] shanness commented on #8
[code]

[2019-01-30 19:43] Nokomis449 commented on #3
I like this idea.  I just ran across this project today as I'm looking for a way to indicate 3 statuses - Normal, Degraded, and Critical.  I'd prefer options for Green/Yellow/Red, but allowing text input for basic colors (red, green, blue, yellow, black, white, etc.) would be even better.  I also like the suggestion elsewhere to allow scaling the size of the LED.

Nice project; I'm sure I'll use i

[2019-02-01 07:18] Just-another-pleb opened #15 "Also a way to "reset" the LED to the "no data received" state."
I appreciate the LED.

The only thing I would like to see is a way to put it back to the "I have not received anything yet" state.

I am using it as an indicator and though maybe a FULL DEPLOY would be better.....
It would be nice if something could be injected to reset to to the blank state/mode.

[2019-02-02 15:59] colinl opened #16 "LED always shows grey"
I can't get the node to show anything other than grey.
I have configured a simple flow with two inject nodes injecting boolean true and false into the led node and nothing happens when I do the inject.  Here is the flow:
[code]
Running on Ubuntu 18.10 the node red log shows nothing unusual on startup.  Any suggestions will be gratefully received.
[code]

[2019-02-04 19:14] yoiang commented on #14
Yea, I agree wholeheartedly! That is a proper, robust, safe way to accomplish this.

Realistically tho there are folks and times where quicker is needed or where one doesn't want to spin up the other systems to accomplish it.

If this feature goes in it would definitely have to be optional.

[2019-02-04 19:30] yoiang opened #17 "Custom LED size"
Great idea suggested by @Nokomis449 in #3

I imagine it would be a single pixel size or optionally a different width and height pixel size (have to make sure this actually looks good with our current LED).

My instinct is to keep the text at the default text size but should it grow to fill the height?

[2019-02-06 10:12] Just-another-pleb opened #18 "Left label margin should match right LED margin (margin for glow)"
There is the option for the "name" of the LED.
This means (for instance) if you make it 3 wide......   It would be nice to control where/how the text is shown.
"Left justified", "Centered", or "Right format".
Maybe not having the LED so close to the edge?  (See attached picture.  Note red line.)
And maybe even the option to put the text AFTER the LED, rather than before.

![screenshot from 2019-02

[2019-02-06 22:26] colinl commented on #16
It seems this is not a problem with this node, as I have problems with other contrib ui widgets.  Also it is specific to one profile with my browser so I am closing the issue.

[2019-02-06 22:26] #16 closed

[2019-02-07 04:41] yoiang commented on #16
Ah gotcha, thank you for the update :) where you able to resolve the issue or find the root?

[2019-02-07 08:48] colinl commented on #16
Not solved so far. It is very odd, with the debugger I can see that, in the server, it gets as far as passing the widget setup to angular, but in the client initController is never called.  Other built-in dashboard nodes work ok though, so there must be a difference in the interface between node-red and angular between the two. More investigation is required.  I see apparently the same issue with

[2019-02-07 16:13] agenteDserrano opened #19 "Can't order layout position"
When change the position on the layout no changes on the UI.

[2019-02-07 16:25] agenteDserrano commented on #19
I find the issue on file led.js
order: 0 must change for order: config.order

			if (checkConfig(config, node)) {
	            var done = ui.addWidget({
	                node: node,
	                format: HTML(config, ledStyleTemplate('gray')),
	                group: config.group,
	                templateScope: "local",
	                order: config.order,
	                beforeEmit: beforeE

[2019-02-07 16:32] yoiang commented on #19
Good catch!

[2019-02-07 16:37] yoiang commented on #19
I will close this once it has been included in the published version, thanks for your help!

[2019-02-07 16:40] yoiang commented on #15
I may include something similar in the custom statuses (#2), where if a payload doesn't match any of the defined states it will "turn off" ie. go back to blank. Is this what you were thinking?

[2019-02-07 16:42] yoiang commented on #18
I like left, centered, and right text justification options as well as the option to have the text after the LED! I'm going to separate them out into different tasks.

Can you elaborate on your middle point, you feel the LED is too close to the border?

[2019-02-07 16:44] yoiang opened #21 "Label text alignment options"
A way to specify the label text's alignment as _left_, _right_, or _center_

Suggested by @Just-another-pleb in #18

[2019-02-07 16:45] yoiang opened #22 "Label text placement on either side of LED"
A way to specify the label text's alignment as on the _left_ or _right_ side of the LED.

Suggested by @Just-another-pleb in #18

[2019-02-07 16:48] yoiang commented on #16
Great :)

If you haven't already it might be a good thing to also report and track in the [Node-RED Github](https://github.com/node-red/node-red/issues)!

[2019-02-07 16:51] yoiang commented on #2
As currently devised (and in progress implemented) will be resolved by #3

[2019-02-07 16:51] #2 closed

[2019-02-07 16:52] colinl commented on #16
It has been discussed on the node-red discourse forum.  As yet it is not clear whether it is a node-red bug (or at least deficiency) or if it is the browser confused by something silly in the profile data.  I need to find the time to do some more investigating, but it isn't actually a big issue for me at the moment as I don't have a need for the widget, I was investigating a problem for someone el

[2019-02-07 19:52] Just-another-pleb commented on #15
*I may include something similar in the custom statuses (#2
<https://github.com/Adorkable/node-red-contrib-ui-led/issues/2>), where if
a payload doesn't match any of the defined states it will "turn off" ie. go
back to blank.*

Yes.

On Fri, 8 Feb 2019 at 03:40, Ian G <notifications@github.com> wrote:

[2019-02-07 19:57] Just-another-pleb commented on #18
I think I included a picture in the original post, but see attached anyway.

The text also is too close to the ends/edges of the box.

Looking at it now, the LED may be ok for distance, but if you look at the
(now modified) picture you can see how close the text is to the left side
of the "box".
This may be because the text is (probably) left justified.

On Fri, 8 Feb 2019 at 03:42, Ian G <notific

[2019-02-07 20:03] Just-another-pleb commented on #21
Yes but comparing it to the `text` node from the dashboard:

(See picture)

It seems to have a few text formatting issues covered.

I'm not saying this is the "be all and end all" but only an option.

On Fri, 8 Feb 2019 at 03:44, Ian G <notifications@github.com> wrote:

[2019-02-07 20:08] yoiang commented on #18
Oh you meant match the distance of the text from the edge with the distance of the LED from the edge or vice versa? I'll play with how that would look when I have a sec!

[2019-02-07 20:09] yoiang commented on #21
Your post didn't come through with a picture, do you mean from #18?

[2019-02-07 20:29] Just-another-pleb commented on #18
Well, something like that.

Just that when there is text, it doesn't look nice if the text is (say) 2
pixels in from the left edge and the LED is (say) 10.

I've forgotten what the LED by itself looks like in a 1 x 1 cell.

I just tried that, and it is too early I think.   But any way, I hope you
get the idea of what I am saying.

On Fri, 8 Feb 2019 at 07:08, Ian G <notifications@github.com> wrote

[2019-02-07 20:32] Just-another-pleb commented on #21
Which post?  The one I just sent or the one I added to the "issue"?

On Fri, 8 Feb 2019 at 07:09, Ian G <notifications@github.com> wrote:

[2019-02-07 20:32] Just-another-pleb commented on #21
Your post didn't come through with a picture, do you mean from #18
<https://github.com/Adorkable/node-red-contrib-ui-led/issues/18>?

Yes.

On Fri, 8 Feb 2019 at 07:09, Ian G <notifications@github.com> wrote:

[2019-02-07 23:05] yoiang commented on #3
RE: scaling there is issue #17!

[2019-02-07 23:06] yoiang opened #23 "Update README.md for Custom statuses instructions"

[2019-02-07 23:07] yoiang commented on #19
Pushed in [0.2.0](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.2.0)!

[2019-02-07 23:07] #19 closed

[2019-02-07 23:09] yoiang commented on #15
Implemented in [0.2.0](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.2.0)!

[2019-02-07 23:09] #15 closed

[2019-02-07 23:11] yoiang commented on #13
Let me know if you can reproduce the state being lost besides between deploys and restarts (that is as expected).

[2019-02-08 08:23] Just-another-pleb commented on #15
Thanks, but.....

I just installed it and the documentation doesn't explain how to "reset"
the LED.

Shall look on the web page to see if there is any info there.

On Fri, 8 Feb 2019 at 10:17, Ian G <notifications@github.com> wrote:

[2019-02-09 05:24] yoiang commented on #23
Completed in [0.2.1](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.2.1)

[2019-02-09 05:24] #23 closed

[2019-02-09 05:26] yoiang commented on #15
I updated the documentation for how to, if one sends any value without a color associated it is "reset".

[2019-02-12 22:54] yoiang commented on #13
I'm marking this closed, if you feel this is still an issue besides what's represented in #14 please say so.

[2019-02-12 22:54] #13 closed

[2019-02-14 10:45] dhamukrish commented on #16
I am also facing the same issue, basically, we need to refresh the browser every time to see the status when you switch over from another side-menu item.

[2019-02-14 13:54] colinl commented on #16
This issue is that the led is *always* grey, whatever you do, but only in one instance so far.  If you can make it update the display be refreshing then it is not the same issue.

[2019-02-14 14:55] yoiang commented on #16
@colinl If you have time to can you outline in detail the order exactly of what happens compared to the expected results to make sure it's understood what this issue is about? The @dhamukrish can decide if they need a separate issue created.

[2019-02-14 15:08] colinl commented on #16
@yoiang I think perhaps you meant to address that to @dhamukrish.  This issue is quite clear, when the issue occurs the led stays grey always.  It does not show anything else whatever one does with refreshing or sending the node messages or whatever.

[2019-02-27 00:29] liz-miller commented on #8
I'm having this exact issue too. Does anyone have the fix?

[2019-02-28 07:42] WombatHollow opened #24 "Status of LED not stored in Node...Delay to display results"
When you open the Node-Red HTML page with the UI on it, the LED(s) are grey as if there is no data even though the Node is getting message data regularly.   It is not until the next message is sent to the Node that the LED will illuminate.
*To Reproduce**
Steps to reproduce the behaviour:
1. setup a flow which sends a toggling data message to the node-red-contrib-ui-led Node, changing payload betw

[2019-02-28 07:44] WombatHollow opened #25 "LED will not display LED status sometimes even though valid msg is being sent."
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. ...
2. ...

**Expected behavior**
A clear and concise description of what you expected to happen vs what actually happens.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. i

[2019-02-28 07:47] WombatHollow commented on #25
Somehow this was saved with no data and cannot be edited.  Will close and open a new issue

[2019-02-28 07:47] #25 closed

[2019-02-28 08:35] WombatHollow opened #26 "LED will not display LED status sometimes even though valid msg is being sent."
**Describe the bug**
Even when the LED are displayed correctly on another computer (same OS and Browser), when you open on a new browser the LED stay grey even though there is valid data being received.   This does not occur all the time, it appears to be random although once not working it stays not working despite closing navigating away and back to page and then starts working again. (but not a

[2019-03-03 08:11] WombatHollow commented on #26
Further progress on this bug.  It is very closely related to #24 (not #25 as in above text) and fixing #24 may well fix #26 partially.  But it is #26 behaviour that has highlighted the #25 bug as in the UI rather than node.
1. First the Node does appear to store the current value (colour) (correct).
2. The Node only sends the updated value to the UI if the value has changed.
3. The UI for the node

[2019-03-03 08:33] WombatHollow opened #27 "Scrolling controls being display on UI"
**Describe the bug**
On some browser/OS combinations, the UI displays controls for vertical scrolling unnecessarily.  Scrolling range is limited to one click of the controls.  This is always displayed and there appears to be no parameter that can be set to make the UI element higher so it does not need to scroll.

Been seen with W10/Chrome
Does not occur on W10/Edge or W10/IE or Droid 9/Chrome

**

[2019-03-06 20:35] yoiang commented on #26
First off, thanks so much for the comprehensive report! Especially your second post, it clues me into what you're seeing and how I can reproduce it. I'll follow up once I've had a chance to do just that!

[2019-03-18 17:42] yoiang commented on #26
I have not been able to reproduce this issue using the following steps:

1. Open the UI dashboard in browser window 1.
2. Push a button that sends a value to an LED. Notice LED change to appropriate color.
3. Open the UI dashboard in browser window 2, or separate browser.

I may be missing something but is that where the colors should be inconsistent? For me they are appropriately set, even if I c

[2019-03-29 22:42] Just-another-pleb opened #28 "Size of screen taken up by LED"
Ok, this is more a request than a bug.

When you create the LED on the dashboard, there is no means to edit the "size" that it takes up.

Explination:
Say I have a group which is  6 squares wide.
I have another node that is 3 squares wide in that group.
I want to put the LED on the same "line" (horizontal) as the a fore mentioned node.
Alas it can't be done.  There is no way to make the LED 3 squa

[2019-04-02 19:41] yoiang commented on #28
@Just-another-pleb Can you point me at an example or a screenshot of what you mean? Also can you point me at another UI node that allows you to specify its size? That would be super helpful, thank you!

[2019-04-02 20:08] Just-another-pleb commented on #28
Ok,

See attached.

The "Group" is 6 wide.

I put your LED in it and a "switch".

The Switch is 3 wide - green rectangle.
The LED fills up the entire width of the group.

So I can put something else after the switch on the same "line".
But I can't edit the LED properties to allow this.

Also if the width is ......   12 (or something) the label and the LED would
be a long way apart.

Clearer?

On W

[2019-04-02 20:13] yoiang commented on #28
@Just-another-pleb the attached didn't come through unfortunately, could you try again?

[2019-04-02 20:17] Just-another-pleb commented on #28
Standbye.   I'll try via Github.

On Wed, 3 Apr 2019 at 07:13, Ian G <notifications@github.com> wrote:

[2019-04-02 20:17] Hypnos3 commented on #28
For other UI elements (like a switch) there is a size selection:
![image](https://user-images.githubusercontent.com/12692680/55433098-ee1e6180-5594-11e9-8415-f4321dcbc652.png)

The LES does not have such a selection:
![image](https://user-images.githubusercontent.com/12692680/55433165-10b07a80-5595-11e9-8cc6-9049a806802f.png)

when you push this you can select how many space the ui element takes:

[2019-04-02 20:18] yoiang commented on #28
Perfect, I'll check it out tonight. Thanks for pointing me in the right direction!

[2019-04-02 20:20] Just-another-pleb commented on #28
Ok, here I go again.

Let's hope this works this time.

Ok, I can't find how to attach things here.

But it seems Hypnos3 has hit it on the head.

Oh, just saw how to attach.

Refer back to my previous post.

![Screenshot from 2019-04-03 07-02-44](https://user-images.githubusercontent.com/39888280/55433366-f56b5c80-55e0-11e9-9f47-87849a20b3c7.png)
![Screenshot from 2019-04-03 07-02-49](https://use

[2019-04-03 07:23] 3sztof opened #29 "LEDs turning grey when switching between dashboard tabs"
The leds turn gray and do not change state after switching the UI tabs. Refreshing the whole UI turns them back on (it seems that the state is stored - it's a display issue).

[2019-04-06 10:09] AlbanT opened #30 "LED is not shown on dashboard"
Hi, I tried to add a led to my dashboard but it isn't added to the dashboard:

[https://www.screencast.com/t/2nkMfFNoTj](url)

`[
    {
        "id": "a82ff38b.4c666",
        "type": "tab",
        "label": "Sensors",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3c453b6.16f1e44",
        "type": "ui_led",
        "z": "a82ff38b.4c666",
        "group": "fe5704ed.b94c5

[2019-04-25 21:18] yoiang commented on #28
Available in 6c0832e3cf608d04d2a47fd1ba4441ca33f44bc0
Follow the milestone to know when it's been released

[2019-04-25 21:19] #28 closed

[2019-04-25 21:19] yoiang opened #31 "Release 0.2.2"

[2019-04-25 21:21] yoiang commented on #27
Hey @WombatHollow can you post a screenshot of what this looks like? That might clue me into what is happening here

[2019-04-25 21:25] yoiang commented on #29
Thank you for the report @3sztof, I can reproduce this!

1. Cause an LED to change to a valid value
1. Switch to another dashboard tab
1. Switch back to the dashboard tab with the LED

LED will no longer be previous valid value but instead gray-invalid
Refreshing will show the LED's proper, valid value

[2019-04-26 15:17] yoiang commented on #29
So I've narrowed it down to the node receiving the latest `msg` before it's element has been rendered, researching how to deal with this situation.

[2019-04-26 15:18] yoiang commented on #26
@WombatHollow sorry, I missed your specifying that this was for LEDs in tabs, I've started documenting the issue and work on it in #29

[2019-04-26 15:19] yoiang commented on #24
@WombatHollow can you share a flow that illustrates your setup?

[2019-04-26 15:24] yoiang commented on #30
I'm not sure, your pasted code works a-ok here:
<img width="330" alt="Screen Shot 2019-04-26 at 11 23 36 AM" src="https://user-images.githubusercontent.com/89718/56818537-cf1e9280-6815-11e9-8e00-7c0eb4867eb7.png">

Have you checked the Node-Red logs or console? Perhaps there was an issue installing the `UI-LED` node.

[2019-04-26 16:40] yoiang commented on #29
I've pushed a fix to the branch https://github.com/Adorkable/node-red-contrib-ui-led/tree/feature/tabsUpdateBug , if you have a chance please give it a try and see if this fixes the issue for you without introducing new ones ;)

[2019-04-26 16:41] yoiang commented on #26
I've pushed a fix to the branch https://github.com/Adorkable/node-red-contrib-ui-led/tree/feature/tabsUpdateBug , if you have a chance please give it a try and see if this fixes the issue for you without introducing new ones ;)

Otherwise I'll push the update in the next few days!

[2019-04-26 19:23] yoiang commented on #22
Added in e8bcfeaf636071e973cb8ae73df4cd73dc691f9f

[2019-04-26 19:23] #22 closed

[2019-04-26 19:52] yoiang commented on #21
Completed in b6b0720a94307ab1c68979fa27b48497fc62ebcc

[2019-04-26 19:52] #21 closed

[2019-04-26 19:55] yoiang commented on #18
RE: title change, this issue represents the last part of the 3 requests @Just-another-pleb made above:

Per they're image the LED's right margin is larger than the label's left margin, and it would likely look better if they matched!

Either the LED's glow should overhang the right side of the container and the actual LED should be as close as the label or the label should moved in to match the LE

[2019-04-26 20:09] yoiang commented on #18
The former isn't possible without messing with styling higher up so fb27b9a8ceaf9266d223d8230371c7c8afcc7ad6 implements the latter (name matching LED's spacing)

[2019-04-26 20:09] #18 closed

[2019-04-26 20:10] yoiang commented on #14
For the excellent reasons @colinl brought up I'm closing this issue until someone can justify a strong case to make this an optional feature.

[2019-04-26 20:10] #14 closed

[2019-04-26 20:14] yoiang commented on #1
haha it looks fine, maybe go down this rabbit hole some other time

[2019-04-26 20:14] #1 closed

[2019-04-26 20:15] yoiang commented on #4
It looks fine right now, more style options don't feel needed at the moment

[2019-04-26 20:15] #4 closed

[2019-04-27 12:21] WombatHollow commented on #26
Sorry, I have been out of the loop for over a month so did not get a chance to develop a flow.  Next week I should get back to this and will test the updated flow, if problem still exists I will envelope a sandpit to demonstrate it at it’s simplist.

I do see someone else reporting the same on MR forum (albeit their description is somewhat convoluted and been distracted by other issues.

Ian H

Fr

[2019-04-28 11:31] AlbanT commented on #30
Weird, could it be something with my Node red installation in general? I'm running node red (v0.20.5: Maintenance Release) on a Raspberry Pi. I setup a fresh raspberry and installed a fresh node red on it ans I still have the same issue. But... I noticed after my original post here that I have a similar problem with a different node (https://flows.nodered.org/node/node-red-contrib-heater-controlle

[2019-04-29 16:16] stevenhowes commented on #30
I get the same, this is the syslog. `Apr 29 17:16:17 nodered Node-RED[704]: 29 Apr 17:16:17 - [info] Starting flows
Apr 29 17:16:17 nodered Node-RED[704]: While constructing LEDNode widget: { Error: Cannot find module 'node-red-dashboard'
Apr 29 17:16:17 nodered Node-RED[704]:     at Object.requireModule [as require] (/usr/local/lib/node_modules/node-red/node_modules/@node-red/registry/lib/util.js

[2019-04-30 19:19] yoiang commented on #31
Released: 028086eca757cd6a7b9d272a923d8057327bbc28

[2019-04-30 19:19] #31 closed

[2019-04-30 19:19] yoiang commented on #29
Closing with fix release

[2019-04-30 19:19] #29 closed

[2019-04-30 19:20] yoiang commented on #26
I've pushed the fix to master and version `0.2.2`, when you get around to it let me know if that works. Cheers!

[2019-05-05 09:38] WombatHollow commented on #26
Thanks for the update to LED Node but the behavior of the LED being gray when you switch to the UI page remains.
Using 0.2.2 of the Node I have produced a small NR flow (attached below) that demonstrates this issue.
Load the Flow and open the ui to the LED page, the LED is gray (ok if it was never set).  Press any of the three buttons ({red, green, blue} and the LED changes as required.  Note what

[2019-05-05 09:51] WombatHollow commented on #26
A minor addition to above.
If you open Chrome, select a new tab and enter the address like  "http://127.0.0.1:1880/ui" the assuming NR has not been restarted since last seting a LED light, the LED colour is correct....until you switch NR ui pages (not talking about Chrome tabs)

[2019-05-05 18:58] yoiang commented on #26
Perfect, thanks so much for posting this @WombatHollow , when I get home I'll try to reproduce!

[2019-05-07 18:37] yoiang commented on #26
I was able to reproduce it exactly as you described, I'll take a crack at figuring out what's going on hopefully today or tomorrow :)

[2019-05-07 20:16] yoiang commented on #26
😣I feel brainless, the fixes didn't make it into 0.2.2!

I just pushed 0.2.3 WITH the changes, please give that a try, your example worked with it for me.

[2019-05-07 20:17] yoiang commented on #29
Oy, changes didn't make it into 0.2.2, my bad. They're in 0.2.3!

[2019-05-07 21:51] WombatHollow commented on #26
Hah!  I know what you mean.  After all the smart stuff of coding and verification,  you trip up on a 'simple' configuration management step.That said, having worked on very large software intensive systems, configuration management is anything but simple.ThanksIanOn 8 May 2019 06:16, Ian G <notifications@github.com> wrote:😣I feel brainless, the fixes didn't make it into 0.2.2!

I just pushed 0.2.3

[2019-05-09 03:57] #26 closed

[2019-05-09 03:57] #24 closed

[2019-05-09 09:42] Cyb3rn0id opened #33 "Left border overlap glow"
On all my devices, glow on the left side of the led is covered by the invisible border: maybe glow is too large or led is not centered in the box? I've this artifact whatever is the size of the widget.
Normally I use a widget size of 1x1 for the led with no label since the led is near a button and I've used yellow color instead of green for the 'true' value.

![left_glow](https://user-images.githu

[2019-05-09 09:49] Cyb3rn0id commented on #33
I've taken another screenshot giving the group border and group background a red color for highlighting them. As you can see maybe the problem is given by a not perfect centered image in the 1x1 widget box.

![led_glow](https://user-images.githubusercontent.com/9216461/57444376-51647900-7250-11e9-9deb-b9e6a9588bc2.png)

[2019-05-09 13:03] yoiang commented on #30
Are you installing Node-RED the same way as described in #8 or seeing any of the same other errors?

[2019-05-09 13:05] AlbanT commented on #30
As of this morning I got it working.
I updated to the newest version of node-red-contrib-ui-led and rebooted my Raspberry... And now it works perfectly.

[2019-05-09 13:05] #30 closed

[2019-05-09 13:07] yoiang commented on #30
That's great to hear! Hmmm, I'm not sure what change would have affected dependency resolution, I'll have to dig a little deeper to understand what was fixed. Do you install your Node-RED via apt-install by any chance?

[2019-05-09 13:12] AlbanT commented on #30
Yes I did....

[2019-05-09 13:14] yoiang commented on #30
Gotcha, so this may very well resolve #8. Thanks so much for your help!

[2019-05-09 13:16] yoiang commented on #8
Folks in #30 who also installed via `apt-install` say that updating to the latest version of **ui_led** (0.2.3) and rebooting fixed it for them. I'm not sure why yet but give it a go!

[2019-05-10 18:06] yoiang commented on #33
Good catch, I'll see if I can repro it, thank you for reporting it!

[2019-05-13 14:02] shanness commented on #8
Hey @yoiang , Nah, sorry, didn't fix it.  And if anyone is going to try, delete any LED nodes first!  I had to manually hack them out of my `flows_home.json` (couldn't restart after upgrade without removing the existing test LED node.

Still getting this
[code]

[2019-05-13 16:37] yoiang commented on #8
Are you comfortable enough to be able to test a branch without changing anything else? I just pushed https://github.com/Adorkable/node-red-contrib-ui-led/tree/feature/issue8 with a little change to match other libraries scoping of some variables, and may have another idea if that doesn't help.

[2019-05-14 15:06] shanness commented on #8
Hey @yoiang ,
I removed the existing UI installed version, and ran this
`npm install https://github.com/Adorkable/node-red-contrib-ui-led.git#feature/issue8`
I restarted NR, then added the LED node to my flow and redeployed, and got the same issue.

Is that the right way to test it?

[2019-05-15 16:22] yoiang commented on #8
Yes, I think that should have installed it properly, dang. You haven't run into this issue at all with any other Node-RED UI nodes either?

Have you raised this in the [Node-RED dashboard github](https://github.com/node-red/node-red-dashboard/issues)? They might know exactly what's going on, I'm at a loss. At some point I'm going to have to recreate your installation, in a container I think.

[2019-05-19 16:02] shanness commented on #8
Hey,

Got the same problem with this other dashbord plugin, and just checked, pretty sure they are the only two UI/dashboard plugins I'm using.

https://github.com/node-red-hitachi/ui_list/issues/7

Haven't rasied in on the dashboard github yet.  Are there any other UI plugins you'd suggest I try?  Happy to help find one that works?

[2019-05-20 16:50] yoiang commented on #8
You can check here for more [contrib-ui](https://flows.nodered.org/?term=contrib-ui&num_pages=1), however it's sounding more and more like an issue with `node-red-dashboard` or with `node-red`!

[2019-05-20 17:19] shanness commented on #8
Ta, just confirmed getting the same issue with ui-level.  And others have reported it too.

https://github.com/hotNipi/node-red-contrib-ui-level/issues/7

I'll move up the line, and perhaps check on discord as the above issue suggests.  If I find a solution, I'll update all 3 tickets.

Thanks for your help.

[2019-05-27 09:09] darkoddio opened #34 "Changing tab clear the led status"
UI dashboard with more than 1 tab and UI Leds in all the tabs
When you switch between one tab and the other, the status of the LEDs is always off

[2019-05-27 21:45] yoiang commented on #34
Hey @darkoddio , there is an issue #29 tracking this already, in the future please use github's search feature! Please update to 0.2.3 and if this bug is still occurring please post in that issue!

[2019-05-27 21:45] #34 closed

[2019-05-28 07:49] darkoddio commented on #29
![image](https://user-images.githubusercontent.com/22075319/58460339-ba436080-812d-11e9-8aff-99c9fed1db21.png)
I'm already using 0.2.3, Node-red (in docker) v0.20.2
The issue still exist

[2019-05-28 12:46] yoiang commented on #29
@darkoddio no worries! Can you paste a set of flows that demonstrate the issue?

[2019-05-28 16:06] darkoddio commented on #29
`[{"id":"2f939364.d8796c","type":"ui_led","z":"cb054648.0d7a58","group":"9b7ac535.4c3aa8","order":0,"label":"","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"name":"","x":290,"y":2660,"wires":[]},{"id":"9ac7d15.f6fe83","type":"ui_led","z":"cb054648.0d7a58","group":"407eebd8.3608e4","order":0,"label":"","colorForValue":[{"co

[2019-06-19 03:06] Just-another-pleb opened #35 "LEDs not always changing when sent signals."
This is still not 100% proven to be a bug with the LED node, but when I inject a message which tells the LED to turn a certain colour and it doesn't.......

This is happening on a few flows, now and then.
A signal which is set in the LED node is sent and it simply doesn't change colour.

Out of curiosity I made a large flow with a lot of LEDs on it all different colours.
The colours were names (gr

[2019-06-19 10:54] juggledad commented on #35
Your flow doesn't work because you have nothing set in the button's **When clicked, send:** payload. If that is not set, the button node sends the node ID which is not a boolean tryue or false.

[2019-06-19 10:59] juggledad commented on #7
The fact that it has **ui** in it's name and it is in the dashboard part of the nodes palette and that most physical LED's are attached to a GPIO pin and so use a GPIO node, should be enough in my mind.

[2019-06-19 11:27] juggledad opened #36 "Changing LED color does not apply until input state changes"
**Describe the bug**
Changing the color of the led and redeploying will not change the color of the led when that state is sent to the LED. You must change the state in order to get the new color.

i.e. have two buttons - one sends true the other false. Set false to RED deploy and press the false button. The LED shows RED.

**To Reproduce**
Steps to reproduce the behavior:
1. create wo buttons - o

[2019-06-19 11:43] Just-another-pleb commented on #35
Yeah, I am sorry.

I have recently been caught up in a lot of messy stuff with the computer, internet and a whole lot of other stuff.
(Yeah, I know.   No excuse.)

I was caught out with reading how the button says "if input received, send to output".
That isn't exactly correct.  It sends what it has as its "when pressed" message.

I seem to be parsing a lot of things incorrectly recently.

Greates

[2019-06-19 11:43] #35 closed

[2019-07-07 09:01] Cyb3rn0id opened #37 "Does not show in the dashboard in Node Red running as root"
I modified nodered.service to be able to run Node Red as root. After I restarted Node Red I had to reinstall Dashboard, LED node and then re-imported the flows. Now The Led not showing.

[2019-07-07 14:55] yoiang commented on #37
Hey @Cyb3rn0id , is your configuration anything like #8?

[2019-07-09 07:57] Just-another-pleb opened #38 "Per message color configuration"
Just as something which has become of interest to me playing with JavaScript.

Could the colours be set by the message properties like:
msg.truecolour
msg.falsecolour

Then if the true value is received, the truecolour is displayed.

[2019-07-09 14:03] yoiang commented on #29
@darkoddio I am unable to reproduce this issue with your pasted flow switching back and forth between tabs, are you sure you're on the latest release? This issue was addressed in 0.2.3.

Re: status display please post suggestions in #6!

[2019-07-09 14:10] yoiang commented on #38
Do you mean color configuration along with the message? It's a great idea! I'd want it formalized to be more robust and potentially an opt in option.

Re: more robust I'm thinking maybe a `msg.colorToValue` map that would be used in your case as:

- `msg.colorToValue[true]` === what you would have passed in `msg.truecolor`
- `msg.colorToValue[false]` === what you would have passed in `msg.falsecol

[2019-07-09 14:18] yoiang commented on #36
Hey @juggledad! I just reprod this and it worked using your steps, is it possible there is a mismatch of data types of CSS safe color names? Can you paste a copy of the flow?

[2019-07-09 14:20] yoiang commented on #8
Hey @shanness, any luck on this front? Or can you paste the thread following this issue so others can follow along?

[2019-07-09 14:51] Just-another-pleb commented on #38
Hi.....
Yikes!   Just looked at the reply address.

I'm up to my neck (or higher) just now with NR.   I am really not having
luck.

The idea came up because I was using one of you LED's as an indicator.

Alas, in a perfect world all would be good.  But the flow got complicated.
It needed its colours edited "on the fly".

So my idea is that to set it up, you would send a message with a "topic"
(or

[2019-07-09 20:07] yoiang commented on #38
So if we are to have the most recent `msg.colorForValue` act as an override going forward for messages to that LED that don't contain a `msg.colorForValue` I would expect this override to stick between restarts of Node-RED on a per LED basis as well. What do you think?

[2019-07-09 21:58] yoiang commented on #38
Refreshing on Node-RED contexts I don't think persistence should be within the scope of this feature, it'd be too much of a "you have to set up Node-RED this way".

The more robust solution is to have a node that checks if `colorForValue` values are in a message and sets it to the context and a matching one that checks if one has been set and includes it in the next message if so. I could see thos

[2019-07-10 06:27] Just-another-pleb commented on #38
And fair enough.

You lost me with the last sentence.

I should have a first PR with this feature.....   PR?

On Wed, 10 Jul 2019 at 07:58, Ian G <notifications@github.com> wrote:

[2019-07-10 06:44] Just-another-pleb commented on #38
Actually just another thought that came to mind.

Though you have this as a LED......

Neopixels are becoming more popular.   Though I get that this is a
dashboard for NR.....

That may be an interesting idea to consider.

Maybe the control could be the same format as how NeoPixels get their
commands.

That way if someone wants to test a project this node would be a nice test
bed.

On Wed, 10 Jul

[2019-07-10 16:33] juggledad commented on #36
@yoilang here is the flow [{"id":"bfef9c9a.30c61","type":"inject","z":"f574ef05.8053f","name":"","topic":"","payload":"true","payloadType":"bool","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":130,"y":100,"wires":[["df565fc3.d04b18"]]},{"id":"fd1d6e83.6e509","type":"inject","z":"f574ef05.8053f","name":"","topic":"","payload":"false","payloadType":"bool","repeat":"","crontab":"","once":f

[2019-07-10 16:45] yoiang commented on #36
Oh I see! Yes, the node currently does not process repeat values. From your
steps as a user I would expect the LED to change immediately rather than
needing to wait for the next true statement, what do you think? Lemme think
if there is an easy way to accomplish this.

I will probably be enabling processing of repeat values for a separate
feature coming up so your workflow will function from your

[2019-07-11 04:43] shanness commented on #8
Hey @yoiang, I haven't had time to do anything about this, and unlikely will any time soon, just too busy with other projects and this isn't pressing enough to chase ATM.  Sorry about that.

[2019-07-11 16:27] yoiang commented on #38
That's interesting, if you think it is potentially helpful and have time to think about what that would mean and formalize it it'd be great to start a new discussion, feel free to start a new issue.

PR is pull request, when I have a few minutes today I'll push it to git so you can try it out.

[2019-07-12 00:38] Just-another-pleb commented on #38
Thanks.

I shall try to get online later.

Where should the discussion happen?  On the node red forum or in the git
hub place.
On 12 Jul 2019 2:27 AM, "Ian G" <notifications@github.com> wrote:

[2019-07-12 00:39] yoiang commented on #38
https://github.com/Adorkable/node-red-contrib-ui-led/issues/new/choose

[2019-07-12 02:59] Just-another-pleb opened #39 "Suggestion for new feature"
Although getting away from a "simple" LED, the NEOPIXELs are popular.

For people wanting to simulate a Neopixel LED, adding that to the LED would/may/could be nice.

The input would be the same as the NeoPixel LEDs so as to maintain a standard so any code could easily be ported to the real ones.

[2019-07-12 14:34] yoiang commented on #8
No worries! I'm going to close the issue now that it's most likely a Node-RED/Node-RED Dashboard issue. If you do follow up feel free to post the link here.

[2019-07-12 14:34] #8 closed

[2019-07-12 14:35] yoiang commented on #39
Can you describe what you would imagine a Neopixel like LED node would look and behave like?

[2019-07-12 21:31] Just-another-pleb commented on #39
From the GUI side of things, just the same as the now existing ui_LED.

It would only need 1 input (the power pins are a given)

You would send it a message with the RGB values from 0 - 128, as per the NexPixels, and it would display that value.

Alas it would go away from accepting names for colours, so maybe it may be better it is a whole new node as I do use colour names when I configure the ex

[2019-08-20 01:31] yoiang commented on #37
If you have any information to share please do, closing for now!

[2019-08-20 01:31] #37 closed

[2019-08-20 04:15] Just-another-pleb opened #41 "Brightness adjustment."
Without wanting to make it too complicated:

4 (5 actually?) levels of "brightness" for the LED.
I'll pick 4 as I am trying to keep it practical and a base of 2 (to maybe help with byte optimisation)
8 would be too many.
2 would be a bit too few.
4 seems like a good choice.

Levels would be (something like):
5 - FULL
4 - NOT QUITE FULL
3 - MEDIUM
2 - NOT SO DULL
1 - DULL
0 - OFF

Names are nominal

[2019-08-22 14:41] yoiang commented on #41
Hey @Just-another-pleb !
Thanks again for the suggestion! I understand where you're coming from and how this would be a great visual indicator.

My initial reactions are:
* this is really specific, prescribed behavior that we should do a generalization thought experiment pass on to see if there is value at that level (potentially a way to map ranges of values to a range of colors rather than discr

[2019-08-22 14:51] yoiang commented on #39
Hey @Just-another-pleb !
So our node supports any [CSS valid color format](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value) as mentioned in the README, which means it does accept RGB values.

Adding support for a string of chained, indexed nodes feels like it adds complexity past a simple LED node's need. However if there is enough interest I could see an additional node that arranges

[2019-08-22 20:36] Just-another-pleb commented on #39
Thanks for the replies.

Ok, I agree with most of what you say.

That leads me to a "new" idea:

Rather than add all this extra dependency on the other library, make a new node.

That way if the people are happy with the LED node as is, all is good.

If they want to add brightness, they install the new node and put it just before the LED.

That way the "sacrifice" of all the extra stuff is only do

[2019-09-08 14:37] dceejay commented on #7
I agree with @juggledad - the name is fine.
this issue can be closed :-)

[2019-09-10 15:05] yoiang commented on #7
Thanks for the feedback @juggledad and @dceejay ! If someone feels otherwise they're more than welcome to chime in, closing for now :)

[2019-09-10 15:05] #7 closed

[2019-09-24 03:09] gdallaire opened #44 "got "TypeError: Cannot read property 'length' of undefined""
**Describe the bug**
node red version  = 0.20.8

**To Reproduce**
1. install led-ui from "Manage palette"
2. add the led to a flow, set the label

**Expected behavior**
after deploying I get this error "TypeError: Cannot read property 'length' of undefined" and no led appears on the dashboard.

[2019-09-24 18:50] yoiang commented on #36
Hey @juggledad !
I apologize it took so long to get this fix in, it had been sitting in another change waiting to go in. Finally resolved, if you have a chance let me know if `0.3.0` resolves the issue!

[2019-09-24 18:50] #36 closed

[2019-09-24 19:02] yoiang commented on #38
Feature included in 7a7cc148f44792f913d3504695bb942c8df456c0

[2019-09-24 19:02] #38 closed

[2019-09-25 01:34] yoiang commented on #44
Hey @gdallaire , thanks so much for reporting the bug!

I was able to reproduce it, I'll next set about what the issue is and see about a fix.

[2019-09-25 01:51] yoiang commented on #44
Oh right, so check it! When I was reproducing it this is what was happening, less a bug with **ui-led** and more a not uncommon UX issue with **node-red-dashboard**:

Notice how when you place the new node it has a red triangle:
<img width="161" alt="Screen Shot 2019-09-24 at 9 44 56 PM" src="https://user-images.githubusercontent.com/89718/65562552-d527b500-df14-11e9-9826-a9a162ffc824.png">

It's

[2019-09-25 11:54] gdallaire commented on #44
when adding a ui-led there is a red triangle, I had to re-set the default group (that was already set) and then the red triangle was removed.

but ui-led still doesn't appear in the dashboard :(

![image](https://user-images.githubusercontent.com/3247909/65598426-5f016d80-df69-11e9-8097-0d3a04ca3f54.png)

[2019-09-25 12:30] yoiang commented on #44
Hmm, sorry to ask what may be silly questions, have you assigned it to a tab as well? Are there any additional complaints in the console?

[2019-09-25 12:49] gdallaire commented on #44
yes in the "Home" tab :+1:

![image](https://user-images.githubusercontent.com/3247909/65602076-4432f700-df71-11e9-879e-c5879f1ff879.png)

Dashboard :

![image](https://user-images.githubusercontent.com/3247909/65602110-51e87c80-df71-11e9-9841-15a0d990be77.png)

[2019-09-25 12:58] gdallaire commented on #44
just took the time to upgrade to 0.3.1, restarted node-red, then the module was not installed anymore

![image](https://user-images.githubusercontent.com/3247909/65602767-7133d980-df72-11e9-8a40-9454e284a0a1.png)

then I re-installed it and now

![image](https://user-images.githubusercontent.com/3247909/65602877-9e808780-df72-11e9-94b4-3faec86b0531.png)

all seems OK !

thanks

[2019-09-25 13:02] #44 closed

[2019-09-25 14:01] yoiang commented on #44
Perfect! I'm glad we could sort it out :)

[2019-10-10 03:54] luqmanredin opened #45 "Insert color"
**Describe the bug**
I could not insert the color in the color selection

**Screenshots**

![image](https://user-images.githubusercontent.com/53413259/66537872-a33d6200-eb54-11e9-85ad-fc2f671ee85a.png)

**Desktop (please complete the following information):**
 - OS: windows 10
 - Browser chrome

[2019-10-10 13:13] yoiang commented on #45
Hello @luqmanredin , thank you for reporting this!
Do you know what version of Node-RED and Node-RED Dashboard you're running?

[2019-10-11 00:27] luqmanredin commented on #45
My Node-RED version is v0.16.2 and Node-RED Dashboard v2.13.0

[2019-10-11 00:30] luqmanredin commented on #45
My Node-RED version is v0.16.2 and my Node-RED Dashboard is v2.17.1

[2019-10-11 13:42] yoiang commented on #45
I am unable to reproduce the issue short of reverting to this version of Node-RED, would you mind some hands on debugging before I jump in?

Can you open up the Chrome Developer console, click on the + Color button, and see if there is an error message there or in the Node-RED console?

[2019-10-14 00:34] luqmanredin commented on #45
The error message when I click on the + Color button as per image below;
![image](https://user-images.githubusercontent.com/53413259/66724851-5eb80c00-ee5d-11e9-9b7a-52f7801823b4.png)

[2019-11-23 13:35] vieuxcampus opened #46 "errors when deploying ui-led"
trying to run the basic example, I get those messages:
23/11/2019 à 14:20:54msg : error
"TypeError: Cannot read property 'length' of undefined"
23/11/2019 à 14:20:54node: 2aae8fef.55ce8
msg : error
"TypeError: Cannot read property 'push' of undefined"

Nothing is left undefined in the configuration.
I'm running raspian(v10 buster) on a raspberry 4, MQTT and node-red(v13.1.0)

[2019-11-23 15:04] Nokomis449 commented on #46
I had the same problem this week and since so many people were downloading the node with no reported issues, I assumed it was me.  After two evenings of trying to get an LED in the dashboard using the provided example, I finally deleted the ui-led node, reinstalled it, and wrote my own basic example (below) and it now works as expected.  My example is two inject nodes, alternately injecting "True"

[2019-11-23 15:09] yoiang commented on #46
Do you both mean the examples in the new "Examples" tab? Hmm, I'll try with a fresh install, see if I can reproduce this.

[2019-11-23 15:36] Nokomis449 commented on #46
I tried the example that included its own MQTT nodes and absolutely nothing showed up on the dashboard, even though other things I tried showed up on the dashboard.  The MQTT node would show as connected.  So either the example wouldn't work for me, or the ui-led install was bad.  Deleting/reinstalling and using my own example got me working.  I'm using the latest Node-RED (installed per Node-RED)

[2019-11-23 15:36] vieuxcampus commented on #46
sorry but it's the same with your example. I always get those error messages whatever the example.

[2019-11-23 15:49] Nokomis449 commented on #46
The following example just adds a debug node.  You should get continuous True/False/True/False... in the debug window, with the LED blinking on & off.  If the True/False is working but no LED, I'm not sure what else to try except reinstall the ui-led node.

[{"id":"630432c5.e7318c","type":"ui_led","z":"7d8f18fe.7d70a8","group":"8152166b.5f11f8","order":1,"width":0,"height":0,"label":"Blinking LED"

[2019-11-23 16:22] vieuxcampus commented on #46
The debug window shows the true/false sequence but there is no led showing in the dashboard. Deleting and re-installing does nothing. I installed the ui-led with the "manage palette" menu item. if I use npm I get this:
 npm install node-red-contrib-ui-led
npm WARN node-red-contrib-ui-led@0.3.1 requires a peer of node-red-dashboard@2.14.x but none is installed. You must install peer dependencies yo

[2019-11-24 02:57] Nokomis449 commented on #46
For unrelated reasons (testing; wanted to start clean), I deleted and re-installed Node-RED and NPM.  I loaded the Dashboard and ui-led nodes via the pallet and copied my above example to it, and the dashboard was still giving me the "Welcome... Please add some UI nodes to your flow and redeploy", indicating that the led node was again not working.  I then stopped and restarted Node-RED, and the l

[2019-11-24 08:49] vieuxcampus commented on #46
yes !! that did it ! I reinstalled the led module then reboot. As you said, it looks like  nodered needs a start for this node to work. I should have tried this. Shame on me !
Thanks to all
best regards

[2019-12-21 21:49] Just-another-pleb opened #47 "Dashboard version message when removing nodes."
When updating nodes I got this message after a node was removed:

[code]

Thing is the dashboard installed is 2.19.2

That is greater than 2.14.x

Is this a problem?

[2019-12-21 22:16] Just-another-pleb commented on #47
Sorry....    Stuff learned since, it is not your problem.

[2019-12-21 22:16] #47 closed

[2020-01-07 13:47] deelerke opened #48 "JSON input can only match on exact msg.payload string"
hi, there is an option to select JSON input for the msg.payload, but it seems to only test the whole string. So the LED would only colorize when the complete string is matched.
Is it possible to select which JSON element & value to test?
For example: an input would look like: { "Light1":0,"Light2":1,"Light3":0,"Light4":1 }
And then have the led node to test:
if "Light1" == "1" then color = "green"

[2020-02-10 22:52] TadyTheFish opened #50 "Multiple LEDs on the same workspace"
Hello.
I tried  to put a few leds on a tab but I'm having problems.
It seems if you put a few leds and position them and then if you try to rearrange after you deploy thre is a good chance that the whole layout is randomly changed.
Could this have anything to do with the fact that you can't change the name of the led in a flow (also causes big problems identifying the leds)

[2020-05-27 08:42] juggledad commented on #17
+1 for this - or allow the size to be changed in CSS.

[2020-05-29 14:17] ozett commented on #47
i observed the sam message today.
what do i have to do? nothing? update?

greatly appreciate any hints...something to do about this?

[2020-06-09 10:44] lancelon opened #52 "Contrib doesn't work on latest version of Node?"
This contrib doesn't seem to work on the latest version of nodejs - is that true? Seems to only work on v10.16.3

[2020-07-14 12:29] bergmanu opened #53 "Node not displayed on dashboard"
With node-red V1.0.2 the LED nodes are not displayed on the dashboard.
This is from your [example](https://flows.nodered.org/node/node-red-contrib-ui-led-fork):
![image](https://user-images.githubusercontent.com/22653568/87425594-36249480-c5de-11ea-80ad-fdc5ed5ee83f.png)

There should be a LED, right?

Also using an own flow with these nodes, they are not displayed on the dashboard

[2020-07-17 13:50] yoiang commented on #53
Hello @bergmanu !
Thanks for pointing this out, the example doesn't work with newer versions of Node, you may have gotten an error when you tried importing which may be why nothing is showing up. Instead I'd recommend importing from the examples included in the package. Let me know if this works!

[2020-07-17 13:56] yoiang commented on #52
Hello @lancelon !
Sorry for the late reply! Can you give more information into your setup (Node, Node-RED, Node-RED Dashboard, global or local installs, etc). I have tested against the current LTS (12.18.2 at time of writing) and things appear to be working a-ok!

[2020-07-17 13:58] yoiang commented on #50
Hello @TadyTheFish !
I apologize for the very late reply, can you export the flow and paste it here? I'd be able to reproduce it locally.

Also can you clarify what you mean by not being able to change the name of the led in a flow? Do you mean the `Name` value? It might be scrolled below the fold in your Edit Properties window!

[2020-07-17 14:08] yoiang commented on #48
Hello @deelerke !
Sorry for the very late reply!
As outlined in the thread you currently will have to split up the values that come through your initial payload and direct the appropriate one to the LED you'd like to process that value. It is a lot of repetitive work but a lot of that can be solved by using subflows.

I am struggling to think of a robust but also intuitive way to allow using prope

[2020-07-17 14:09] yoiang commented on #46
Sorry for the late follow up! I'm glad this was resolved :)

[2020-07-17 14:09] #46 closed

[2020-07-17 14:11] yoiang commented on #45
Hello @luqmanredin !
I apologize for the very very late reply, are you still having issues?

[2020-07-17 15:10] yoiang commented on #27
Will reopen if this is reported again

[2020-07-19 09:23] WombatHollow commented on #27
![LED UI scroll bars showing NR1 1 2](https://user-images.githubusercontent.com/25624454/87871456-c7877280-c9f3-11ea-846a-42405426e84d.jpg)
Sorry for not responding back in August last year, your request must have got lost in the inbox and was missed, it was you acrtion to closed the report that caught my eye.
Just upgrade to NR1.1.2 and latest LED_UI 0.3.3 and the proglem remains on these combina

[2020-07-20 18:06] yoiang commented on #27
@WombatHollow oh nice! Would you be able to send over the json for the LEDs or the flow as a whole? It'd be great to use the same properties you have on yours. In the meantime I'll try to repro with a basic setup!

[2020-07-21 04:10] WombatHollow commented on #27
[{"id":"1e97aa16.e7a2f6","type":"ping","z":"12f44cb5.337193","name":"Weather Station ping","host":"10.0.0.171","timer":"60","inputs":0,"x":140,"y":700,"wires":[["9f4c83d2.45f0d","a0df4b97.af7eb8"]]},{"id":"1efbff35.ac9cb1","type":"ping","z":"12f44cb5.337193","name":"Pool ping","host":"10.0.0.235","timer":"60","inputs":0,"x":180,"y":660,"wires":[["9f4c83d2.45f0d","72fd4af2.61d874"]]},{"id":"6d773d8

[2020-07-23 17:34] classic-audio commented on #53
I am in the same situation.
Imported to day using "Palette" - no error messages during import
No apperence on Dashboard.

[2020-07-23 17:36] yoiang commented on #53
@classic-audio would you be able to paste in the json of your flow? I'll be able to reproduce it on my end that way!

[2020-07-24 05:49] classic-audio commented on #53
This my code:
[{"id":"b5ebd50b.e47c68","type":"ui_led","z":"6ab13f46.9ff05","group":"e6f5d9e.4f6b128","order":3,"width":"1","height":"1","label":"","labelPlacement":"left","labelAlignment":"left","colorForValue":[{"color":"red","value":"false","valueType":"bool"},{"color":"green","value":"true","valueType":"bool"}],"allowColorForValueInMessage":false,"name":"On/Off","x":350,"y":340,"wires":[]},{"i

[2020-07-24 05:58] bergmanu commented on #53
Hi @yoiang,
I think it does not depend on the example flow. This was just an example I pasted, because I thought you will better understand what I mean.
I installed the nodes via Manage palette and also tried an own flow, but the behavior is the same.

If you have no other dashboard node configured in your flow but only LED ones and open the dashboad, it claims that there is nothing configured.

I

[2020-07-30 11:36] southseaboy commented on #53
I'm seeing the same behaviour with a clean install of Node-RED v 1.1.2 (fresh x64 docker image), but am not getting problem with Node-RED v1.0.6 native on an RPi (32 bit Raspberry Pi OS).  When I deploy a flow containing the ui-led node on the docker version I see an error in the debug message list - "TypeError: Cannot read property 'length' of undefined".

[2020-07-30 12:39] bergmanu commented on #53
I guess there was an update of the node, right?
I tried to install the node again today and now it works for me...
I am not sure, but maybe I have used the ui-led-fork node last time and it didn't work because of that.

@southseaboy: Do you have installed the dashboard? I forgot that at first and saw a similar error, but after installing the _node-red-dashboard_ and a reboot this was gone

[2020-07-30 14:14] southseaboy commented on #53
I have version 0.3.3 installed via the manage palette menu this morning. I also had previously installed the standard dashboard nodes and configured a dashboard which is showing data from another flow. I get the error whether I try to put the node in en existing (displayed) ui_group or a new tab/group.

[2020-07-30 14:29] bergmanu commented on #53
My versions are:
Node JS: **10.15.2**
node-red: **1.0.2**
node-red-contrib-ui-led: **0.3.3**
node-red-dashboard: **2.23.0**

I am running an Isar built Debian 10 on Siemens IOT2050.

[2020-07-30 14:49] southseaboy commented on #53
@bergmanu - the problematic docker version is on node.js 10.21.0.

If you're now happy that the 0.3.3 version of the node fixes your issue with the 1.0.2 version of Node-RED perhaps you should close this issue to avoid confusing @yolang over which are the affected versions. I can raise another issue, or hop on #52 which is similar and awaiting clarification from the issue raiser.

[2020-07-31 06:11] bergmanu commented on #53
Sure, I am happy with that.
I thought I'd let it open, because you are still having problems. I'll close it then.
Thanks!

[2020-07-31 06:11] #53 closed

[2020-08-11 17:01] G0sch commented on #52
Hey :-)

Looks like is also do not work for me - tried the example from example folder

11 Aug 18:57:41 - [info] Node-RED version: v1.1.3
11 Aug 18:57:41 - [info] Node.js  version: v12.18.3
11 Aug 18:57:41 - [info] Linux 5.4.51-v7l+ arm LE
Tested in current Safari and Chrome on Mac

<img width="610" alt="Screen Shot 2017-03-24 at 22 06 03" src="https://user-images.githubusercontent.com/51472553/89

[2020-09-17 00:00] Nodi-Rubrum opened #54 "So what is the difference between ui-led and ui-led-fork?"
So what is the difference between ui-led and ui-led-fork?

[2020-09-17 00:08] yoiang commented on #54
Haha I don't know! This might be the wrong of the two repos to ask this question ;)

[2020-09-22 07:51] AndreasHeine opened #55 "Add ability to toggle glow effect around LED on and off from config panel"
![Unbenannt4](https://user-images.githubusercontent.com/56362817/93857759-61e98800-fcbb-11ea-9ea6-fe57c5f08e5d.PNG)

![Unbenannt](https://user-images.githubusercontent.com/56362817/93855811-6a8c8f00-fcb8-11ea-98f3-c5477fa3b4d6.PNG)

if i inject a msg.glow = false the glow is still there!?

![Unbenannt1](https://user-images.githubusercontent.com/56362817/93855979-ac1d3a00-fcb8-11ea-9d9c-374931b1571

[2020-09-22 08:05] AndreasHeine commented on #55
if set
[code]
glow is gone ...

[2020-09-22 21:49] yoiang commented on #55
Hello @AndreasHeine !
To clarify is injecting a `glow` **false** of **false** turning it off or is it still on?

Internally the control is passing `glow` amongst itself, and would overwrite values of `glow` someone sent further up the line. Perhaps the controls should internalize both the color and glow results in its own `payload`, hmmm!

[2020-09-22 21:54] AndreasHeine commented on #55
injecting glow false does not turn the glow off!
yes color too - at least its similar code

[2020-09-22 21:57] yoiang commented on #55
Gotcha! Would you have expected it to? If you read through the README documentation `glow` and `color` aren't expected `msg.payload` values. Can you explain your usage so I can understand better and we can consider what makes sense!

[2020-09-22 21:59] yoiang commented on #54
@Nodi-Rubrum if you don't have any concern or issues here I'm going to close this Issue

[2020-09-22 22:03] AndreasHeine commented on #55
message object:
msg.payload
msg.glow
msg.color

i would expect that the led glow updates on message!? at least i tought thats what the code looks like (i might be wrong)

[2020-09-22 22:09] yoiang commented on #55
That code is internal to the node, the `msg` with `glow` and `color` are processed from the payload it receives and sent between different parts of the node (part of the way Node-RED dashboard signals). The code isn't really a great way to learn how to use the node, the README is best!

[README](../blob/master/README.md)

[2020-09-22 22:12] AndreasHeine commented on #55
if i look for example into the dashboard gauge its possible to change the sections on message same in some charts aswell. i normaly hardcode them off because i dont like the glow effect...

[2020-09-23 04:56] Nodi-Rubrum commented on #54
Sure.  No problem.

[2020-09-23 04:56] #54 closed

[2020-10-01 10:55] zaubererty commented on #55
plus one

[2020-10-04 10:55] juggledad opened #56 "installing ui-led before installing the dashboard causes the led not to show up in the dashboard"
**Describe the bug**
If you install the ui-led node before installing the dashboard, then install the dashboard, using the led node in a flow will show an error in the log and the led will not appear in the dashboard

**To Reproduce**
Steps to reproduce the behavior:
1. ...install the ui-led node
2. ...instll node-red-dashboard
3. ...use the led node in a flow

**Expected behavior**
the led should

[2020-10-04 11:03] dceejay commented on #56
This is probably due to the way Node-RED loads modules. It will generally add them in the order in which it finds them in the flow file, but will try to load any config nodes first. So when you add them in this order - and thus before Node-RED  has restarted and rescanned for config nodes (which the dashboard has) - the led node will load first and not find the dashboard as it has't loaded yet. On

[2020-10-06 14:18] yoiang commented on #56
Great find! Hmm, is there a way to clarify to Node-RED that `dashboard` is a dependency re: loading order? Or would the best way to make it a package dependency?

[2020-10-07 09:07] dceejay commented on #56
it is only an issue in this specific edge case where the user add the led node first, then adds the dashboard, and is fixed on a restart. Most users would have dashboard installed already, then add extra nodes to it so would never see this. Or on a new install if a load of nodes were added at install time - again it won't happen as it will start in correct order.
If you make it a full dependency t

[2020-10-07 09:14] juggledad commented on #56
Since it is shown as an issue here and on the forum and it has only happened once, if anyone else hits it, if they search they should find out the cause. I don't think you need to do anything. I was reporting it (mainly as an FYI) since I discovered it helping a user resolve it. Maybe give it a label to indicate it as a 'one timebug - just reboot'

[2020-10-07 19:38] yoiang commented on #56
👍

[2020-10-07 19:49] yoiang commented on #55
So to clarify when you want to independent of the `msg.payload` value toggle the glow effect do you mean any coloration of the led or just the actual hazy glow around it?

[2020-10-08 06:35] AndreasHeine commented on #55
both color and glow would be a awesome features!

#### dashboard gauge node:
if you want to change the colors of the sectors you can send a msg with a ui_contorl obj and empty payload obj to adjust the colors dynamic according to a setpoint
[code]

![Unbenannt](https://user-images.githubusercontent.com/56362817/95422786-3a8fed80-0940-11eb-9d77-a65e38f69566.PNG)

[2020-10-11 21:02] LarryReader commented on #56
Hello, I am a bit of a newbie but have an number of other installed nodes working. I just installed the ui-led node like this node-red-contrib-ui-led under Manage Palette. I installed after the dashboard and it is not showing up. Have it in a group as other ui nodes. I'm in Node_Red on a VM on Google Compute Engine and honestly have not needed to or figured out how to restart nodered yet or the VM

[2020-10-13 19:08] yoiang commented on #56
hey @LarryReader ! Would you be able to copy the palette and paste it here? That way I can recreate the arrangement and see if I can reproduce the problem!

This isn't related to the original issue so I'm closing it for now

[2020-10-13 19:08] #56 closed

[2020-10-13 19:12] yoiang commented on #55
Gotcha! I'm going to rename the issue accordingly for the glow, that would be new functionality.

Have you had a chance to read the documentation re: color definitions in the message (vs the default in the config panel): https://github.com/Adorkable/node-red-contrib-ui-led/blob/master/README.md#custom-statuses-in-msg . Let me know if that isn't enough, if there is some functionality regarding the

[2020-11-16 08:51] mschuricht opened #57 "Set the size of the Led Circle"
The size of the LED is too powerful compared to the label. An adjustment of the size would be desirable.
![image](https://user-images.githubusercontent.com/74533447/99231673-3a152d00-27f1-11eb-827c-16d63d5eaf40.png)

[2020-11-17 18:13] yoiang commented on #57
Forms of this request are happening more and more often, it will likely come in the next version!

[2020-11-18 16:53] judalvarezca opened #58 "Installation fails due to Update of node-red-dashboard (2.24.0)"
I'm installing today the node in a new docker container, but when executing my installation script there was some dependencies problems, due to the newly updated node-red-dashboard 5 days ago.

I guess in the meantime I'll keep using the 2.23.0 version, but an update on the node will be appreciated.

Thanks, have a very good day :)

[2020-11-18 17:40] yoiang commented on #58
Oh interesting, has something changed with how **node-red-dashboard** operates? Do you have the logs by any chance?

[2020-11-29 14:55] josef62 opened #59 "LED / Label not appearing on dashboard"
LED / Label not appearing on dashboard

In NR editor no problem to define, but nothing is showing up on dashboard. Space where it should be gets filled up with other following dashboard elements. All other dashboard elements working fine.

Raspi Linux 5.4.72-v7+ armv7l

**Versions**
 - node-red-contrib-ui-led: 0.3.3
 - node-red: 1.0.6
 - node-red-dashboard: 2.24.1

In previous versions doing well

[2021-01-08 01:53] Just-another-pleb opened #60 "WHen starting Node-Red I see this message in the log"
Jan 08 12:49:19 TelePi Node-RED[1429]: While constructing LEDNode widget: TypeError: Cannot read property 'config' of null

Node-Red:  1.2.6
RasPi:  ZW Stretch.

Not sure if it is really a problem, but it looks like one.

[2021-01-12 21:43] yoiang commented on #59
Hey @josef62 !
I've just pushed a new rewritten version [0.4.1](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.1) using the latest node-red and node-red-dashboard.

Let me know if this resolves the issue for you, if not can you see if there are any logs in the browser console or in the Node-RED console?

[2021-01-12 21:44] yoiang commented on #60
Hey @Just-another-pleb !
Thanks for pointing this out. I've just pushed a new rewritten version [0.4.1](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.1) using the latest node-red and node-red-dashboard.

Let me know if this resolves the issue for you, if not can you see if there are any logs in the browser console or in the Node-RED console?

[2021-01-12 21:52] yoiang commented on #58
I've just pushed a new rewritten version [0.4.2](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.2) using the latest node-red and node-red-dashboard.

Let me know if this resolves the issue for you, if not can you see if there are any logs in the browser console or in the Node-RED console?

Since I haven't heard back previously I'm going to close for now!

[2021-01-12 21:52] #58 closed

[2021-01-12 21:53] yoiang commented on #52
Thanks for your patience @lancelon and @G0sch. I've just pushed a new rewritten version [0.4.2](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.2) using the latest node-red and node-red-dashboard.

Let me know if this resolves the issue for you, if not can you see if there are any logs in the browser console or in the Node-RED console?

[2021-01-12 21:54] yoiang commented on #50
I haven't heard back, closing old issue

[2021-01-12 21:54] #50 closed

[2021-01-12 21:55] yoiang commented on #45
I haven't been able to replicate or heard back, closing old issue

[2021-01-12 21:55] #45 closed

[2021-01-12 21:56] Just-another-pleb commented on #60
When I check via node-red I am only seeing 0.3.3.   I have 0.3.1.

I guess that update hasn't propagated through to that part of the system yet.

[2021-01-12 21:59] yoiang commented on #60
Strange! Flows has been updated, I think that should be node-red palette’s
source for latest versions. I’ll look into it!

On Tue, Jan 12, 2021 at 1:57 PM Just-another-pleb <notifications@github.com>
wrote:

--
Sent from a bad keyboard

[2021-01-12 22:48] Just-another-pleb commented on #60
Um, not sure if this is related.

I just updated the LED node.

Now when I run NR, it is maxed out at 100% cpu load and I see this being displayed when I start NR.

[code]

There is more above it, but this is maybe of interest.

[2021-01-12 22:53] yoiang commented on #60
This is with the latest version 0.4.2?

On Tue, Jan 12, 2021 at 2:49 PM Just-another-pleb <notifications@github.com>
wrote:

--
Sent from a bad keyboard

[2021-01-12 23:21] Just-another-pleb commented on #60
No sorry all the palette updater will offer me is (Argh!)   I went and looked and it now is offering the latest version.

Hang on.

(I won't waste time posting this and then updating the result.)

Ok, its booted.

This is what I now see:

(exert)

[code]

Different, but your node still gets a mention.

Again: not sure if this is a problem or not.   I am only mentioning it.

[2021-01-12 23:32] Just-another-pleb opened #63 "Node configuration marked as invalid after update to 0.4.2"
Um, sorry, but now it is installed (the latest version) all instances of the LED are now "invalid" and I have to edit the nodes.

So now I have to go and edit all the existing nodes.

Is this right?

It looks like the colours are honored (luckily) but for reasons unknown I have to go and edit every node.

It seems that the LEDs no longer support 1x1 size.

RasPi Z (W) Jessie
LED version 0.4.2
NR 1

[2021-01-12 23:59] yoiang commented on #63
Arg hmmm what did that. Can you send me a snippet of the flow where a node is marked invalid?

[2021-01-13 00:00] yoiang commented on #60
It shouldn't be doing that, def gonna try to track it down

[2021-01-13 00:06] yoiang commented on #60
Offhand do you know what version of Node-RED Dashboard you have installed?

[2021-01-13 00:09] Just-another-pleb commented on #63
It becomes "invalid" as soon as I change it form `1x1 size to `2x1` (horizontal)

[2021-01-13 00:11] Just-another-pleb commented on #60
Sorry.   It is 2.26.0 I think on this machine.

I have 2.26.1 on another but am not going to risk installing it there.

This machine (just done) has few LEDs and isn't too off put by them being `2x1`.
Other machines have more detailed displays and need them to be `1x1` so it isn't worth me risking it.

[2021-01-13 00:14] yoiang commented on #60
If it is an invalid group I suspect updating won't fix the log issue you're seeing above. Def don't worry about wrecking your other dashboard, I'll look into #63 and follow up there regarding the 2x1 vs 1x1

[2021-01-13 00:27] Just-another-pleb commented on #60
I'll continue on the other thread.

[2021-01-13 00:35] Just-another-pleb commented on #63
Ok, update:

Updated dashboard to latest.   Restarted NR.

Same.

Details:
RasPi Z (W) Jessie
NR 1.2.6
Dashboard 2.26.2
LED 0.4.2

Here's the scenario in pictures.

![Screenshot from 2021-01-13 11-29-49](https://user-images.githubusercontent.com/39888280/104390956-f93c5900-5592-11eb-9871-1264e40cacde.png)
![Screenshot from 2021-01-13 11-29-57](https://user-images.githubusercontent.com/39888280/104

[2021-01-13 02:49] yoiang commented on #63
I just pushed 0.4.3 which simplified the editor validation code, let me know if this resolves the issue! You might have to go into the node's config panel or even change a value to refresh the validators.

[2021-01-13 04:29] Just-another-pleb commented on #63
You beauty!

Works!
(I'll let you close it if you are happy)

[2021-01-13 05:27] yoiang commented on #63
Rock! Sorry about it breaking, thanks for your patience and working with me on testing it.

Of course, happy that you're interested! I finally got around to something I'd wanted to for a bit with the library. I'm not sure how computer science familiar you are but the library, just like Node-RED was originally written in Javascript. For maintenance and new feature development purposes I finally got

[2021-01-13 05:29] yoiang commented on #60
Now that the other issue is resolved are you still seeing the `TypeError: Cannot read property 'config' of null` log statement or any other error? I expect you should still be, #63 shouldn't affect it. If so and you haven't already I do think that maybe an LED node somewhere has an invalid group or tab assigned to it, however that could be possible!

[2021-01-13 05:30] #63 closed

[2021-01-13 07:07] yoiang opened #64 "Add ability to toggle glow effect around LED on and off from msg"
Building on the discussion in #55 this would allow a `msg` to push a `showGlow` value of **true** or **false** to enable or disable the glow effect

[2021-01-13 07:10] yoiang commented on #55
The ability to disable the glow effect has been added to the node config panel in version [0.4.4](https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.4)!

Created a separate issue for toggling from `msg`.

[2021-01-13 07:10] #55 closed

[2021-01-13 07:13] yoiang commented on #57
Realized this is a duplicate of #17, closing to consolidate

[2021-01-13 07:13] #57 closed

[2021-01-13 07:23] yoiang commented on #17
Thinking through some options:
* option to have the LED autosize to fit height
  * if disabled can manually select height up to enclosed size if I can get at that, otherwise just 1
* @mschuricht feels the LED is too big (#57) compared to the text, potentially option to match text height

[2021-01-13 07:27] yoiang opened #65 "LED stretches when control's height is larger than 1 unit"
**Describe the bug**
If one locks the control to a height larger than 1 unit the LED itself is stretched on the dashboard

**Expected behavior**
Should be round, potentially size up the height

**Screenshots**
<img width="313" alt="Screen Shot 2021-01-12 at 11 24 00 PM" src="https://user-images.githubusercontent.com/89718/104419404-6d044480-5546-11eb-8106-3b3828f49052.png">

**Versions**

- node-r

[2021-01-13 21:34] yoiang commented on #17
Automatic resizing to fit height just added to the `develop` branch here: https://github.com/Adorkable/node-red-contrib-ui-led/commit/44b53a5f324ea49938f7b130852387e74c4d7bdf

<img width="320" alt="Screen Shot 2021-01-13 at 1 32 07 PM" src="https://user-images.githubusercontent.com/89718/104512978-f9e9e500-55bc-11eb-8aa4-d9b85b80ecef.png">

Gonna close this when it's merged into the main branch bu

[2021-01-17 10:42] TheFoxy opened #66 "Save state of LED?"
If i change between two Flows at the  UI the last state is gone.
LED show always gray.
Can i change this?

[2021-01-17 18:38] yoiang commented on #66
Hmm, this was an issue that should have been fixed a while ago, going to see if I an reproduce it on my end. In the future it would be helpful to know what version of **ui-led**, **node-red**, and **node-red-dashboard** you are using, do you have those on hand?

[2021-01-19 07:49] SMerrony commented on #66
I'm seeing this too since the last (one or two) updates.  Everything is current: Node-Red 1.2.6, Dashboard 2.26.2, UI_LED 0.4.4.

[2021-01-19 19:51] yoiang commented on #66
Apologies! Figured out the issue, was an error that came about in the rewrite. I've just pushed 0.4.5, give that a try!

[2021-01-19 19:55] yoiang commented on #60
Hey @Just-another-pleb want to follow up and see if this is still an issue!

[2021-01-19 21:27] SMerrony commented on #66
That was quick - thanks.   A quick test in development looks good, will try it on production tomorrow.

[2021-01-19 21:52] yoiang commented on #66
Keep me posted, sorry about that!

[2021-01-20 09:32] connermacleod69 commented on #66
Hi,
I have the same problem. But after updating manually it works again. Regards. Serge

[2021-01-20 10:59] SMerrony commented on #66
All good - thanks for the widget and the quick fix.

[2021-01-20 18:08] yoiang commented on #66
Great @SMerrony and @connermacleod69 , thank you for the follow up!

[2021-01-20 18:08] #66 closed

[2021-01-21 01:29] #17 closed

[2021-01-21 01:30] yoiang commented on #6
Doesn't really make sense for this node, closing

[2021-01-21 01:30] #6 closed

[2021-01-21 01:30] yoiang commented on #5
Square released in https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.6
Rectangle can come another time ;)

[2021-01-21 01:30] #5 closed

[2021-01-21 01:30] yoiang commented on #65
Fix released in https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.6

[2021-01-21 01:30] #65 closed

[2021-01-21 01:31] yoiang commented on #60
I haven't heard back so closing for now. Let me know if we should look into it!

[2021-01-21 01:31] #60 closed

[2021-01-21 01:34] yoiang commented on #48
Looking back on this I think there isn't a very extendable but also non-power user style interface that I can imagine, and it feels like it would be more flexible to keep this functionality in a separate place, such as a **function** or **switch** node.

However if anyone still has a strong argument feel free to drop it here!

[2021-01-21 01:34] #48 closed

[2021-01-21 01:34] yoiang commented on #33
Fix released in https://github.com/Adorkable/node-red-contrib-ui-led/releases/tag/0.4.6

[2021-01-21 01:34] #33 closed

[2021-01-21 01:35] yoiang commented on #52
Have not heard back, closing for now!

[2021-01-21 01:35] #52 closed

[2021-01-21 01:35] yoiang commented on #59
Please feel free to comment here if this is still an issue, closing for now!

[2021-01-21 01:35] #59 closed

[2021-01-25 14:11] nksky opened #67 ""Add Colour" Button not working"
**Describe the bug**
I recently upgraded to 0.4.6. The add colour button on the node in Node-red is not working

**To Reproduce**
Steps to reproduce the behavior:

1. ... Open Node Red
2. ... Drag Node to Flow, open try add extra colour.

**Expected behavior**
Ability to add more than 2 possible outcomes.

**Versions**

- node-red-contrib-ui-led: 0.4.6
- node-red: 1.1.2
- node-red-dashboard: 2.27.

[2021-01-25 20:30] glad-wolf commented on #67
Same here

- node-red-contrib-ui-led: 0.4.6
- node-red: 1.2.6 (runs in docker)
- node-red-dashboard: 2.26.2

[2021-01-26 20:05] yoiang commented on #67
Thank you for reporting this, I'll try to repro tonight!

[2021-01-26 20:12] yoiang opened #68 "Changing from fixed size back to auto messes up LED size"
Reported by **kuema** here: https://discourse.nodered.org/t/announce-node-red-contrib-ui-led-0-4-6/39472/3

**Describe the bug**
Size of LED grows to incorrect size if going from fixed size to auto size

**To Reproduce**
1. Add an LED set to `auto`
2. Change size to a fixed on, say `1x1`
3. Close **Edit panel**
4. Change size back to `auto`
5. Close **Edit panel**
6. Deploy

**Expected behavior**

[2021-01-27 06:08] kuema commented on #68
I did a little digging, too. 🤓

It seems only the initial values are numbers. As soon as you change the size in any way, they end up as strings as well, like `"width": "1"`. So this might be a general Dashboard thing.

The problem is this strict comparison.

https://github.com/Adorkable/node-red-contrib-ui-led/blob/15f73cc411a93ea2b31cf98a5024a22e1d55eaa0/src/nodes/ui_led/ui_led.html/processing.ts

[2021-01-27 06:54] kuema commented on #67
I can reproduce it as well.

The following error is shown in the browser's console.

![image](https://user-images.githubusercontent.com/13005915/105954334-d28f1f80-6074-11eb-83e9-4dd7a3d4650c.png)

[2021-01-28 08:52] m-schaeffler opened #69 "Improvement: Add node status"
I'm suggesting to add a node state to show in the node red editor the last received state.

[2021-01-28 18:29] yoiang commented on #69
Hey @m-schaeffler , thank you for the suggestion! There is a previous issues that represents this feature (#6) that ultimately I closed because I figured this would mostly be used for debugging purposes while setting up one's dashboard and mostly duplicate's other debugging nodes' functionality.

However you have a super compelling reason or enough people call for it maybe we should reconsider!

[2021-01-29 01:13] Just-another-pleb commented on #60
Sorry, I was away for 2 weeks and you asked me just after I left.   Thus no reply.

So there is no confusion, I will get my machine brought up to date and post back what I see.

[2021-01-29 01:25] Just-another-pleb commented on #60
Sorry, I was away for 2 weeks and you asked me just after I left.   Thus no reply.

So there is no confusion, I will get my machine brought up to date and post back what I see.

(This doesn't seem to be working)

[2021-01-30 09:36] Zodiac-69 commented on #67
Can we roll back to a previous version while you resolve this issue?

[2021-01-31 07:47] yoiang commented on #67
Just pushed 0.4.7, please test that this resolves the issue for you, my apologies!

[2021-01-31 09:44] glad-wolf commented on #67
Works for me.

It's a great plugin!
Thank you!

[2021-02-03 03:09] bburkett52 commented on #68
I am seeing another issue that may be related to this issue.
When displayed on my iPhone, in portrait orientation, the LED initially shows as a thin vertical slit.
If I rotate the device 90 degrees, to landscape mode, the LED displays properly and then even when rotated back to portrait mode.
This anomaly began with the 0.4.7 version.

![62195](https://user-images.githubusercontent.com/35471928/10

[2021-02-04 01:34] yoiang commented on #67
I have heard back any other follow ups so I'm going to assume this has been resolved

[2021-02-04 01:34] #67 closed

[2021-02-04 06:09] yoiang commented on #68
I have addressed the issue @kuema you and others had run into with 0.4.8, please let me know if you have any issues!

@bburkett52 let me take some time to reproduce the issue, if it's still happening I'll make a new issue. Thanks so much for  reporting it :)

[2021-02-04 06:11] yoiang opened #70 "Ability to toggle between round and flat styles"

[2021-02-07 04:10] bburkett52 commented on #68
@yoiang,

Thanks you for your work!
I have updated to version 0.4.8 and still have the same issue on my phone.
All is good on on larger displays.

Regards,
Bob

[2021-02-08 05:44] Nodi-Rubrum commented on #64
Would really love to have this enhancement done.  Just voting for this one.

[2021-02-09 16:10] sam-jeffs opened #71 "Can't set label"
**Describe the bug**
When i try to manually set a label it says the node isn't configured properly.

**To Reproduce**
Steps to reproduce the behavior:

1. set label in LED node
2. try to deploy

**Expected behavior**
A clear and concise description of what you expected to happen vs what actually happens.

hoping to label my LEDS :)

**Screenshots**
<img width="553" alt="Screenshot 2021-02-09 at 16

[2021-02-09 16:14] yoiang commented on #71
Thank you for the bug report! I need to come up with a better way to
message it but 1x1 LEDs cannot fit a label, can you try sizing it to 2x1
and see if that resolves the invalid state?

On Tue, Feb 9, 2021 at 8:10 AM sam-jeffs <notifications@github.com> wrote:

--
Sent from a bad keyboard

[2021-02-09 16:18] sam-jeffs commented on #71
That has solved the error, but I'm still not seeing the label... (thanks for the crazy quick response!)

it doesn't appear in the preview or on the web page...
<img width="553" alt="Screenshot 2021-02-09 at 16 16 59" src="https://user-images.githubusercontent.com/50078876/107393242-7c00f700-6af2-11eb-893a-64ebbc61c542.png">

[2021-02-09 16:51] sam-jeffs commented on #71
So adjusting the shape does fix it, if i make it 3x2!

[2021-02-09 18:55] yoiang commented on #71
Oh strange, let me try to reproduce it!

On Tue, Feb 9, 2021 at 8:52 AM sam-jeffs <notifications@github.com> wrote:

--
Sent from a bad keyboard

[2021-02-13 09:15] Rollem1 opened #72 "In mobile browsers first render of LED has width of 1, properly calculated if resized"
Hi,

Since upgrading to 0.4.8 most LEDs (but not all) on my node red dashboard appear as a line rather than a circle. I don't remember what version I had before but previously this wasn't an issue.

I have several tabs to my dashboard for different elements of home control. On one tab the LEDs always display perfectly, on all the others initially they display as a line. If you rotate the screen so

[2021-02-13 19:41] yoiang commented on #68
@bburkett52 please track progress on the issue you're seeing #72 !

[2021-02-13 19:41] #68 closed

[2021-02-13 19:44] yoiang commented on #72
Hey @Rollem1, thank you for further reporting the issue and including screenshots! I've been able to reproduce the bug but not why it's happening, something to do with the workaround I'm using that doesn't appear to work the first time it's rendered on mobile browsers but properly calculates how it should appear if one does something to resize the screen (such as rotate).

I'll try to track down w

[2021-02-13 19:50] yoiang commented on #71
I haven't been able to get this to happen on my side, do you have a snippet from your flow that I can try it out on?

[2021-02-14 05:31] bburkett52 commented on #72
@yoiang

I have discovered an additional issue with Chrome browser on iPhoneX IOS 14.4

The initial display of the LEDs shows as a width of 1 as previously reported:

![IMG-9019](https://user-images.githubusercontent.com/35471928/107869308-be139b00-6e5a-11eb-9c97-15e7e4cf8383.PNG)

After rotating the device to landscape orientation and still when rotated again back to portrait orientation, the dis

[2021-02-14 05:36] yoiang commented on #72
(props on both you and @Rollem1 's beautiful dashboards btw 🤩)

Even stranger! I'd hoped I had built the component to respond to situations flexibly but it appears to not flex well in these situations on mobile. It's making me suspect I may have to lean on the back, it won't change anything on your side (besides actually working properly), it'll just mean maintenance of the code will be a little m

[2021-02-20 07:02] Nodi-Rubrum opened #73 "Revise to avoid peer warning messages?"
Revise to avoid peer warning messages?  For example...
`npm WARN node-red-contrib-ui-led@0.4.4 requires a peer of node-red@^1.2.6 but none is installed. You must install peer dependencies yourself.`

[2021-02-20 17:18] yoiang commented on #73
Are you getting this when you install via the Node-RED palette?

[2021-02-21 05:31] Nodi-Rubrum commented on #73
Nope, when I install via npm cli.

[2021-02-24 19:01] nikotanghe opened #74 "Led ui control throws exception when used"
Installation from within node-red ui, created a led ui node with default properties.
Node-red is installed with apt-get.
When running the dashboard, no control is generated.

Logs ->

24 Feb 19:52:40 - [info] Installed module: node-red-contrib-ui-led
24 Feb 19:52:40 - [info] Added node types:
24 Feb 19:52:40 - [info]  - node-red-contrib-ui-led:ui_led
24 Feb 19:53:33 - [info] Stopping modified node

[2021-02-24 19:28] yoiang commented on #74
Very strange, it can't find **node-red-dashboard**? Is there anything unique about your installation that comes to mind?

[2021-02-24 20:03] nikotanghe commented on #74
nope, apt-get on debian linux 9, no customizations, everything installed en configured from the node-red interface.
Anything specific that I should check ?

[2021-02-26 14:04] zakx commented on #72
Any news on this? Ran into it just now on an iPad

[2021-02-28 02:54] bburkett52 commented on #72
This issue is also appearing on an Ubuntu Linux OS PC

~Bob

[2021-03-04 14:51] yoiang commented on #72
Sorry for the delay in pushing a fix, life stuff has gotten in the way (just moved at the beginning of the week for a new project).

I should have an attempted fix pushed this weekend, thanks for being patient everyone!

[2021-03-05 03:20] bburkett52 commented on #72
@yoiang

Your work is greatly appreciated!

~Bob

[2021-03-07 16:48] yoiang commented on #72
Thanks all for your patience, I just pushed 0.4.9!

In the effort of getting a fix for the squishing out sooner there is an unresolved issue it introduces where the glow's edge at some sizes is cut off. I'll address that in a later version, this fix was more important ;)

Please let me know if this doesn't resolve the issue or introducing any other bugs!

[2021-03-08 14:39] bburkett52 commented on #72
Thanks fir all your work! This is much appreciated!

I do notice that the diameter of the LED is smaller?

Regards
~Bob

On Sun, Mar 7, 2021 at 11:48 Ian G <notifications@github.com> wrote:

[2021-03-08 18:56] Rollem1 commented on #72
Thanks for providing the update! I can confirm it works and I actually prefer the smaller LED's

![image](https://user-images.githubusercontent.com/45107860/110367697-f2d0d780-803f-11eb-98ed-f2482029d852.png)

Cheers,
Jon

[2021-03-10 08:40] Just-another-pleb opened #75 "I am seeing this when NR is starting."
I have version
0.4.8

But I am not sure it is important.

[code]

Sorry if it has been fixed with 0.4.9

Thanks in advance.

Just updated the dashboard and your node to the latest.
Still happening.

[2021-03-11 13:32] yoiang commented on #75
Hey @Just-another-pleb is this the same as #60?

[2021-03-11 20:42] Just-another-pleb commented on #75
Oh dear, sorry.

I trip on this as I don't often do restarts of Node-red.

It is just all things are up to date (latest versions) and my assumption is that it shouldn't give an *error* if all is good.

Sorry - really.   My memory is really not as good as it used to be.
If you want, you can close this.
I don't want to - only because as much as it is like #60, I am not sure if this now supersede it.

[2021-03-18 11:20] smithy-eng commented on #72
Thank you so much! LEDs looking very fine now!

![image](https://user-images.githubusercontent.com/66004572/111618094-dec56c80-87db-11eb-8b10-e66577aceb3b.png)

[2021-03-19 17:23] yoiang commented on #72
Y'alls dashboard game is on point

@bburkett52 ya, I'll have to look into why it was able to be larger before when I have more time and potentially make that configurable. Now I'm matching the silly algorithm Node-RED uses to decide a control row's height so it is guaranteed to fit. Keep your eyes peeled!

Closing for now, thanks again for everyone's help!

[2021-03-19 17:23] #72 closed

[2021-04-01 07:53] gaur-gaur commented on #44
i am getting same issue  "TypeError: Cannot read property 'length' of undefined" in command promt in which i start node red command

[2021-05-15 08:32] Daini opened #78 "ui-led is grey with msg.responseBuffer or msg.input"
**Describe the bug**

Dear maintainer,
message objects of node-red-contrib-modbus v5.14.0 can contain attributes like msg.responseBuffer and msg.input besides the msg.payload. I have to delete this attributes with a change node first, before ui-led accepts a color change.
The issue is described and discussed in https://discourse.nodered.org/t/ui-leds-grey-after-update/45634

**Expected behavior**

[2021-05-15 15:51] yoiang commented on #78
Hey @Daini ! Thank you for the bug report!
Catching up on the thread I want to clarify, what type is the payload coming into LED as? Is it an array? When I sit down I can double check but I'm quite sure at the moment LED does not manually accept array values and it definitely doesn't by default (by default it looks for `true` or `false`)

[2021-05-16 08:57] Daini commented on #78
Hi @yoiang

this is a troublesome object:

`{"topic":"polling","payload":false,"responseBuffer":{"data":[true,false,true,false,false,false,false,false],"buffer":[5]},"input":{"topic":"polling","from":"","payload":{"unitid":"","fc":2,"address":"0","quantity":"1","messageId":"609e8ff3e92e3c5ab46f7952"},"queueLengthByUnitId":{"unitId":1,"queueLength":0},"queueUnitId":1,"unitId":1},"sendingNodeId":"2c

[2021-05-16 14:33] yoiang commented on #78
Let me take some time to reproduce this, LED only looks at the `payload` field and it looks perfectly ok so I understand your confusion!

[2021-05-20 18:14] My-Random-Thoughts opened #79 "Ability to set label from msg.topic (or other value)"
I would like the ability to set the label as well as the colour from within the `msg` object.  I could then deploy lots of these and let me code handle the text and status.  Thank you.

[2021-06-22 14:17] colinl opened #80 "LED node does not handle being in a disabled group - Cannot read property config of null"
If the group containing the LED node is disabled then, on deploy, this is seen in the log
[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Add an LED node
2. Disable the group
3. Deploy, watching the log

**Versions**

- node-red-contrib-ui-led: 0.4.9
- node-red: 1.3.5
- node-red-dashboard: 2.29.1

**Platform**

- OS: Ubuntu
- Browser: Firefox
- Version 89.0.1

[2021-07-15 20:25] colinl commented on #80
In fact this was a dashboard issue, it has been fixed in node-red-dashboard@2.30.0

[2021-07-15 20:25] #80 closed

[2021-07-15 21:18] yoiang commented on #80
@colinl Sorry for not responding, thank you for following up!

[2021-07-16 08:10] colinl commented on #80
No problem, thanks for providing the node in the first place.

[2021-07-22 07:42] nated0g commented on #78
Came here with the same issue, coming from the same node (node-red-contrib-modbus)

[2021-09-21 22:56] randomhammer opened #84 "Error installing from palette, dependency error"
I'm sorry if this was addressed elsewhere, but I was unable to find a reference. I am trying to install from my Node RED instance using Manage Palette menu choice. I am getting an incomprehensible (to me at least, I am not good at deciphering Node errors) message about dependency issues. I have dashboard version 3.0.4 running just fine, and all of the built-in widgets I've tried work fine. When I

[2021-09-21 23:09] randomhammer commented on #73
This looks similar to the error I just opened (#84) that is preventing me from installing the widget from the palette. In my case the peer it is looking for is node-red-dashboard@2.23.2.

[2021-09-21 23:14] randomhammer commented on #84
I just ran installed from the command line using 2pm and the widget installed correctly. This appears to be related to installing from the palette. Closing due to finding a workaround.

[2021-09-21 23:14] #84 closed

[2021-09-22 22:54] jdotbdot opened #86 "Incompatibility with node-red-dashboard v3"
Attempting via npm v7 to update node-red-dashboard from 2.30.0 to the current release 3.0.4 fails if node-red-contrib-ui-led is installed:
npm ERR! code ERESOLVE
npm ERR! While resolving: node-red-contrib-ui-led@0.4.9
npm ERR! Found: node-red-dashboard@3.0.4
npm ERR! node_modules/node-red-dashboard
npm ERR!   node-red-dashboard@"3.0.4" from the root project
npm ERR! Could not resolve dependency:
n

[2021-09-23 10:32] colinl commented on #86
The problem is that with npm v7 the peer dependency on the dashboard ^2.23.3 specified in package.json is now treated as an error rather than a warning.  A workaround is to install from the command line with the option `--legacy-peer-deps` which drops it back to being a warning.
The fix is to remove the peer dependency or possibly to change it to requiring at least 2.23.3 rather than at least, but

[2021-09-29 17:56] yoiang commented on #86
Sorry for the late reply, this should be fixed with the PR @EkiSkyten contributed, now merged with other updated dependencies!

[2021-09-29 17:58] yoiang commented on #79
Hey @My-Random-Thoughts ! That makes a lot of sense, I will try to make time to work on this but seeing how late I've gotten around to responding it may be a little. If you're interested in contributing a PR with the change. we can certainly discuss implementation here!

[2021-09-29 18:00] yoiang commented on #71
I haven't heard back or been able to reproduce it, I'm going to close it for now. If anyone else runs unto this please let us know!

[2021-09-29 18:00] #71 closed

[2021-09-29 18:03] yoiang commented on #73
Hello @Nodi-Rubrum , `node-red` is no longer marked as a peer dependency so you should not see the message in future versions!

Hello @randomhammer , this as been resolved in PR #87, released in version 0.4.10, tracked in #86 . Please let me know there if that resolves the issue!

[2021-09-29 18:03] #73 closed

[2021-10-11 08:57] colinl commented on #86
Unfortunately no, it hasn't fixed it.  package.json still (in version 0.4.10) includes the lines
[code]
The PR fixes it in devDependencies but not in peerDependencies

[2021-10-11 09:05] colinl commented on #86
For anyone finding this issue, the workaround till it is fixed is to install using
`npm install  --legacy-peer-deps  node-red-contrib-ui-led`

[2021-10-12 22:06] kapet opened #88 "led is grey if msg.socketid is set"
**Describe the bug**
If led node is given any data while msg.socketid is also set, then it is rendered as a grey led.

**To Reproduce**
Set up an led that reacts to boolean. Add two injects, one with e.g. boolean true, one with boolean false. In one of the inject nodes set msg.socketid to some value, e.g. string 12345. Deploy, and test both injects. The one that sets msg.socketid will cause a grey

[2021-10-20 13:14] jemmail opened #89 "Label alignement"
When using Led inside a Dashboard element, the alignment (here left, left) is not the same as the default Text Node

![image](https://user-images.githubusercontent.com/24605319/138099399-b51bab80-dc13-498f-be38-9a8ee93b56b5.png)

- node-red-contrib-ui-led: 0.4.11
- node-red: 2.0.6
- node-red-dashboard: 3.0.4

- OS: Linux / Raspberry Pie
- Browser Edge Chromium
- Version 96.0

[2021-11-11 15:13] smcgann99 opened #90 "typed msg property"
As is becoming more common with other nodes, the ability to enter a msg property in config other than payload may add some flexibilty.

[2021-12-15 10:29] smanjunath211 opened #91 ""RangeError: Maximum call stack size exceeded" . Deleting msg.property in input message is solving the issue."
* **URL**:
* **Google Chrome Version 96.0.4664.93 (Official Build) (64-bit)**:

* **Edition	Windows 10 Pro Version	20H2 Installed on	‎14-‎09-‎2020 OS build	19042.1348 Experience	Windows Feature Experience Pack 120.2212.3920.0
**:

Node-Red gives error "RangeError: Maximum call stack size exceeded" when feeding input from a function node at 1 second pulse rate. when i delete msg.settings then only

[2021-12-23 07:19] tuxedo0801 opened #92 "LEDs are somehow not always updated"
LEDs are somehow sometimes not always updated when new payload is received...

Tried to show soem kind of query status... When dashboard page opens, the payload for LED is 1 and LED should turn red.
At same time, a query is triggered. As soon as query is done, payload 2 is sent and LED should turn green.

I can see with my debug output that values are is right order and right value, but LEDs do no

[2022-01-09 08:22] JaniKallankari opened #93 "Braking node-red"
Newbie to node-Red so be patient.  I tryed to add led to my working flow but whole UI stopped to work once installed uninstall node-red-cotrib-ui-led. I after uninstall node-red-cotrib-ui-led I still have problems with ui_base. Any one know how to reset (fresh install) node-red? It seems to be very easy to broke with broken pagages...

Here is log of start up with uninstall node-red-cotrib-ui-led:

[2022-01-27 16:24] #69 closed

[2022-01-30 17:02] jackie-t commented on #64
Would be really nice to get this ... at some point.
At least remove the glow from the default grey, it looks kind of bad when some "LEDs" have a glow (the ones of which the value was changed to another colour and then back to grey) and some don't (the ones that are still the default grey).

If the entry threshold wouldn't be so high (learning how to package the whole thing, and how to get it on th

[2022-02-23 11:30] Just-another-pleb opened #95 "Has there been anything done that would have a huge change to the size of the LEDs?"
Machine 1:
Ubuntu
NUC
NR 2.1.4
Dashboard 2.28.1
LED 0.4.9

Machine 2:
RasPi
BUSTER
NR 2.1.4
Dashboard 2.26.2
LED 0.4.8 (Ok there's one difference)

But here's what I'm seeing as size difference.
![Screenshot from 2022-02-23 21-48-57](https://user-images.githubusercontent.com/39888280/155310971-8efef873-b17e-4b79-ab17-0f955c81324a.png)

![Screenshot from 2022-02-23 21-47-47](https://user-images.git

[2022-04-07 18:35] mrdvt92 opened #97 "Wishlist - Add capability to add URL hot link to UI LED"
**Describe the bug**

I would like to be able to add an HTML link to an LED in the UI.  I currently have more than 60 LED UI widget on a monitoring page and what I'd like to implement is a way to easily link a URL to the LED so that I could link to a web page with more information about the status of that LED.

**To Reproduce**

N/A - Not a current capability

**Expected behavior**

In the edit LE

[2022-04-19 21:17] das399igste commented on #90
I feel the same way. I implemented this in a fork and it has been working for a few days.
But I find it a bit difficult to enter the adjustments in the TS files from the original. I've done it in the converted JavaScriot files.
It may be that the TS isn't missing something.

[2022-05-13 10:15] JanSkold opened #99 "Wishlist"
It would be nice to have the possibility to a blinking LED on type;

msg.blink true/false
msg.blinkperiod seconds

Thanks!
Janne

[2022-05-29 15:54] Jibun-no-Kage opened #100 "Feature Request: Allow message parts to be used in label, for example {{msg.label}} or {{msg.payload}} for example"
Allow message parts to be used in label, for example {{msg.label}} or {{msg.payload}} for example.

[2022-07-15 16:25] tcrussell commented on #100
Not just the label, but it would be very handy to be able to use anything as the input to the indicator itself, not just msg.payload, even flow and global variables.

[2022-07-16 05:55] Jibun-no-Kage commented on #100
Yes, the more flexible the better, most nodes allow use of context, flow, global, for example.

[2022-10-29 11:34] solick opened #103 "status not changing"
**Describe the bug**
Status of LED is always gray and not changing if sending messages to node

**To Reproduce**
1. create a new instance of node red with docker:
`version: '3'

services:

  node-red-state-ui:
    image: nodered/node-red:2.2.3-14
    container_name: node-red-state-ui
    logging:
       options:
          max-size: "10m"
          max-file: "5"
    ports:
       - "127.0.0.1:7012: